%form{:name => "scrape", :id => "email", :action => "/scraped", :method => "get"}
  %fieldset
    %label{:for => "url"} Enter a URL and the Scuzzle Scraper will Scrape it!
    %input{:type => "text", :name => "url", :class => "scrape_input"}
    %input{:type => "submit", :value => "Scrape-a-doo", :class => "button"}
